/*
 * aaken default stylesheet -- by tav
 *
 */

a {
  color: #0000dd;
  text-decoration: underline;
}

a:hover, a:active {
  text-decoration: none;
}

a.no-underline {
	text-decoration: none;
}

a.no-underline:hover {
	text-decoration: underline;
}

body {
	background-color: #3e3935;
	background-image: url("../gfx/bg.jpg");
	font-family: Baskerville, 'Baskerville old face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 18px;
	margin: 0;
	min-width: 1080px;
	padding: 0;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "league-gothic-1","league-gothic-2", "Gill Sans", Verdana, Arial, sans-serif;
	font-weight: normal !important;
	clear: both;
	font-size: 36px;
	margin: 0;
}

h1 {
	font-size: 30px;
	margin: 18px 0 14px 0;
}

pre {
	background-color: #fefef1;
	border: 1px solid #f7a600;
	border-left: 5px solid #f7a600;
	color: #101010;
	font: 14px Consolas, "inconsolata-1", "inconsolata-2", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
	overflow: hidden;
	padding: 12px 15px 13px 12px;
	margin: 20px 30px 0 20px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-right-radius: 12px;
	-webkit-box-shadow: 0px 0px 7px #cacaca;
}

pre:hover {
	overflow: auto;
}

pre.ascii-art {
	line-height: 1em;
}

pre code {
	background-color: transparent;
	border: 0;
	padding: 0;
	border: 1px solid #c00;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

strong {
	font-family: "league-gothic-1","league-gothic-2", "Gill Sans", Verdana, Arial, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
}

sup {
  display: none;
}

li ul {
	margin-top: 10px;
}

/* sections */

.content {
	clear: both;
	line-height: 1.5em;
	margin-bottom: 1em;
}

#intro {
	background: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: right;
	padding: 5px 10px 10px 10px;
	width: 200px;
	line-height: 1.5em;
}

#intro h1 {
	font-family: Baskerville, 'Baskerville old face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 18px;
	line-height: 27px;
	margin: 18px 0 24px 0;
}

#main {
	margin: 0px auto; 
	text-align: left;
	width: 944px;
}

#page {
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	width: 640px;
	padding-left: 30px;
	padding-right: 35px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom: 14px;
	margin-right: 10px;
}

#site-header {
	margin: 12px 0 14px 0;
	text-align: right;
}

#site-title {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #fff;
	color: #000;
	font-family: "zalamander-caps-1","zalamander-caps-2", "league-gothic-1","league-gothic-2", "Gill Sans", Verdana, Arial, sans-serif;
	font-size: 3em;
	float: left;
	padding: 9px 15px 0px 15px;
	text-decoration: none;
}

#site-title:hover {
	border: 1px solid #000;
}

.wf-inactive #site-title {
	padding-top: 0px;
	padding-bottom: 8px;
}

#site-links {
	padding-top: 4px;
}

#site-links a {
	margin-left: 8px;
	padding: 4px 6px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

#site-links a:hover {
	color: #000;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#translation_form {
	display: inline;
	margin-right: 20px;
}

.follow-link {
	margin: 12px 0 8px 16px;
}

/* disqus */

#dsq-global-toolbar, #dsq-sort-by, #dsq-like-tooltip {
	display: none;
}

#dsq-subscribe, #dsq-footer, .dsq-item-trackback, #dsq-account-dropdown {
	display: none;
}

#dsq-content h3 {
	margin: 25px 0 25px 0 !important;
}

.dsq-comment-header a {
	color: #2d2827;
}

/* rst classes */

.docinfo {
  margin-left: 5px;
  margin-top: 20px;
}

.abstract {
  margin-top: 20px;
}

code, .literal {
	background-color: #fefbf6;
	border: 1px solid #dbd0be;
	padding: 2px 4px;
	font: 14px Consolas, "inconsolata-1", "inconsolata-2", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.topic-title {
  font-weight: bold;
  text-align: center;
}

.note {
  color: #aaa;
  margin-left: 10px;
  font-style: italic;
}

.attention {
  background-color: #FFC3C3;
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.admonition-title {
  display: none
}

.highlight {
  text-align: center;
  border: 1px solid #c00;
  background-color: #fff;
  background-color: #c00;
  color: #fff;
  padding: 5px;
}

/* rst error */

.system-messages {
  display: none;
}

/* toc */

.contents {
	padding-left: 3em;
	margin: 10px;
	display: none;
}

.contents.toc-only {
	display: block;
	padding-left: 0;
	margin: 0;
}


.contents.toc-only .topic-title {
	display: none;
}

/* links */

a.fn-backref {
  text-decoration: none;
}

a.footnote-reference {
  vertical-align: super;
  text-decoration: none;
}

/* tables */


table.docutils {
	margin: 20px 30px 0 20px;
	border-spacing: 0px;
}


table.docutils thead tr th {
	background: #635b54;
	color: #fff;
	padding: 7px 10px;
	font-weight: normal;
}

table.docutils td {
	padding: 7px;
	border-bottom: 1px dashed #d6d2cf;
}

table.docutils td .literal {
	white-space: nowrap;
}

table.docutils thead tr th:first-child {
  text-align: right;
}

table.docutils tr td:first-child {
  text-align: right;
}

table.footnote, table.citation {
	border: 0px;
	padding: 5px;
	margin: 5px;
}

table.citation td, table.footnote td {
	border: 0px;
}

table.docutils td p, table.footnote td p, table.citation td p {
	margin-top: 0px;
	padding-top: 0px;
}

table.footnote td.label, table.citation td.label {
	width: 12em;
	padding-right: 10px;
	text-align: right;
}

table.citation td.label a, table.footnote td.label a {
  font-style: italic;
  text-decoration: none;
  color: #333;
}
	
p.caption {
  color: #666;
  font-style: italic;
  margin-top: 5px;
  padding-left: 5px;
  text-align: center;
}


td p.first {
  margin-top: 0;
}

td p.last {
  margin-bottom: 0;
}

th.field-name, th.docinfo-name {
  text-align: right;
  padding-right: 5px;
  white-space: nowrap;
}

table.field-list {
  border: 0px;
}

table.field-list td {
  border: 0px;
  vertical-align: top;
  padding: 1px;
}

/* doctest */

.doctest-output {
  color: #a5504d;
}

.doctest-input {
	color: #0d5d04;
}

.doctest-output {
	color: #a5504d;
	color: #c32528;
	color: #bf5036;
}

.doctest-input {
	color: #5d90cd;
	color: #6a6a6a;
	color: #0d5d04;
	color: #27894f;
	color: #00a33f;
	color: #15973b;
	color: #7f9a49;
	color: #005d61;
	color: #1d6c70;
	color: #326008;
}

/* images */

img {
  border: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

img.absmiddle {
  vertical-align: middle;
}

/* lines */

hr {
  noshade: noshade;
  clear: both;
}

hr.clear {
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  color: #c00;
  background-color: transparent;
  border: 0px solid;
}

/* lists */

li {
  margin-bottom: 10px;
}

/* utility classes */

.center {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hide {
  display: none;
}

.image-caption {
  font-style: italic;
  text-align: right;
}

.float-left, .figure {
  float: left;
  padding: 5px;
  margin-right: 12px;
  border: 1px solid #ded0e8;
}

.figure {
  width: 400px;
  text-align: center;
}

.float-left-aligned {
	float: left;
	margin: 5px 12px 5px -30px;
}

.float-left-aligned .image-caption {
	padding-top: 5px;
}

.float-right, .float-right-aligned {
	float: right;
	margin-left: 12px;
	margin-bottom: 5px;
}

.float-right-aligned {
	margin-right: -35px;
}

.float-right-aligned .image-caption {
	padding-right: 5px;
}

.full-width, .full-width-lined {
	clear: both;
	margin-left: -30px;
	margin-right: -35px;
}

.full-width pre {
	margin: 0;
	border-left: 0px;
	border-right: 0px;
	padding: 30px 35px 31px 30px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px transparent;
}

.full-width-lined {
	border-bottom: 1px solid #cacaca;
	border-top: 1px solid #cacaca;
	margin-bottom: 20px;
	margin-top: 20px;
}

.boxed {
	border: 1px solid #cacaca;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 7px #cacaca;
	margin-top: 10px;
}

/* special */

h1.title {
  display: none;
}

#abstract .topic-title {
  display: none;
}

#table-of-contents .topic-title {
  display: none;
}

.sidebox, .sidebox-grey {
	padding: 17px 30px 17px 20px;
	max-width: 180px;
	float: right;
	margin: 8px -35px 5px 10px;
}

.sidebox {
	background-color: #dee;
	border-right: 10px solid #488;
}

.sidebox-grey {
	background-color: #eee;
	border-right: 10px solid #888;
}

.intro-box {
	clear: both;
	width: 630px;
	margin: 21px -35px 0 -30px;
	background: #d6d2cf;
	border-left: 10px solid #635b54;
	padding: 15px 45px 16px 20px;
}

.intro-box a {
	color: #635b54;
	text-decoration: none;
    background: url("../gfx/icon.link.gif") center right no-repeat;
    padding-right: 17px;
	margin-right: 3px;
}

.intro-box a:hover {
	text-decoration: underline;
}

.double-column { 
  column-count: 2;
  column-gap: 1.5em;
}

p.first {
  display: inline;
}

/* document specific rules */

div#rationale a.external {
  color: #888;
}

#ignore-this {
  display: none;
}

.post-title {
  clear: both;
  margin-top: 1em;
  margin-bottom: 2em;
  border-top: 1px dashed #444;
  padding-top: 1.4em;
  line-height: 36px;
}

.post-link a {
	color: #000;
	font-family: "league-gothic-1","league-gothic-2", "Gill Sans", Verdana, Arial, sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 36px;
	text-decoration: none;
}

.post-footer {
	margin-bottom: 9px;
}

.dulled {
  color: #999;
  font-style: italic;
}

.section-info {
  padding-bottom: 1em;
  border-bottom: 2px solid #544554;
  margin-bottom: 1.5em;
  margin-top: 1.2em;
}

.home-section-info {
  margin-top: 1em;
  text-align: right;
}

.right {
  text-align: right;
}

.buffer {
  margin-top: 6em;
}


    .rss-entry { margin-bottom: 3em; }
    .rss-entry .main, .feedburnerFeedBlock .main { font-size: 1.2em; padding: 25px; display: block; }
    .feedburnerFeedBlock li {
      list-style-type: none;
      margin-bottom: 3em;
    }
    .feedburnerFeedBlock .headline {
      display: none;
    }
    .section-header {
      border-top: 3px solid #544554;
      border-bottom: 3px solid #544554;
      font-size: 2em;
      text-align: center;
      padding: 20px;
      margin-bottom: 2em;
      margin-top: 2em;
    }

.index-link-info {
  font-size: 0.8em;
  color: #666;
}

.index-link-info a {
  color: #666;
  text-decoration: none;
}

.draft-article {
  color: #ccc;
}

.if-time-permits {
  border: 1px solid #ff6633;
  padding: 4px;
  color: #999;
}

.if-time-permits:before {
  content: "IF TIME PERMITS";
  background-color: #ff6633;
  color: #fff;
  padding: 5px;
  margin-right: 3px;
  margin-top: 3px;
}

a.button {
  background: transparent url('http://cloud.github.com/downloads/tav/plexnet/gfx.bg_button_a.gif') no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
}

a.button span {
  background: transparent url('http://cloud.github.com/downloads/tav/plexnet/gfx.bg_button_span.gif') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
}

a.button:active {
  background-position: bottom right;
  color: #000;
  outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
  background-position: bottom left;
  padding: 6px 0 4px 18px; /* push text down 1px */
}

a.buttondown {
  background: transparent url('http://cloud.github.com/downloads/tav/plexnet/gfx.bg_button_a.gif') no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  font: normal 12px arial, sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px; /* sliding doors padding */
  text-decoration: none;
  background-position: bottom right;
  color: #000;
  outline: none; /* hide dotted outline in Firefox */
}

a.buttondown span {
  background: transparent url('http://cloud.github.com/downloads/tav/plexnet/gfx.bg_button_span.gif') no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
  background-position: bottom left;
  padding: 6px 0 4px 18px; /* push text down 1px */
}

.tag-segment {
  text-align: right;
}

.tag-segment span {
  color: #fff;
  padding: 0.5em;
  font-size: 0.7em;
}

.tag-link {
  text-decoration: none;
  color: #000;
}

.tag {
  background-color: #696969;
}

.tag-val-done {
  background-color: #007f16;
  background-color: #00782d;
  background-color: #006400;
}

.tag-val-needsreview {
  background-color: #a4ff00;
  color: #000 !important;
}

.tag-val-inreview {
  background-color: #3056bf;
}

.tag-val-todo {
  background-color: #a60c00;
  background-color: #d0006e;
  background-color: #8B0000;
}

.tag-val-wip {
  background-color: #a66e00;
  background-color: #ff550f;
}

.tag-type-1 {
}

.tag-type-2 { /* #hashtags */
  background-color: #2a4580;
  background-color: #696969;
}

.tag-type-dep {
  display: none;
}

.tag-type-milestone {
  background-color: #00008B;
  background-color: #06276f;
  background-color: #a4ff00; /* nice colour! */
  background-color: #002ca6;
  background-color: #3056bf;
  background-color: #898989;
}

.tag-type-priority {
  background-color: #481254;
}

.tag-type-zuser {
  background-color: #4573d5;
  background-color: #696969;
}

#plan-tags a, #site-tags a {
  margin-bottom: 0.7em;
}

#plan-container {
  margin-top: 1.2em;
  margin-bottom: 2.4em;
}

.plan-help {
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  margin-bottom: 1.4em;
}

.retweetbutton { vertical-align: middle; display: inline; }
.retweetbutton iframe { vertical-align: middle; padding-bottom: 5px; }

#epigraph {
  margin: 22px 40px;
  color:#575757;
  padding: 0 50px;
  background: transparent url("http://cloud.github.com/downloads/tav/plexnet/gfx.blockquote.gif") no-repeat 0 0;
}

#epigraph-attribution {
  text-align: right;
}

.article-nav {
	color: #fff;
	width: 705px;
	margin: 0 0 14px 0;
	display: none;
}

.article-nav a {
	color: #fff;
	text-decoration: none;
}

.article-nav a:hover {
	color: #fff;
	text-decoration: underline;
}

.article-title {
	margin-top: 5px;
	padding-bottom: 5px;
	padding-top: 12px;
	line-height: 36px;
}

.article-info {
	color: #777;
	font-size: 14px;
}

.article-info a {
	color: #777;
	text-decoration: none;
}

.article-info a:hover {
	text-decoration: underline;
}

.additional-content-info {
	float: right;
	text-align: right;
	margin-right: -35px;
}

.attention {
  background-color: #bfeeff;
}

.more-link { display: none; }

.block-section {
	border-top: 1px dashed #666;
	margin-top: 20px;
	padding-top: 20px;
}

/* Source code syntax highlighting */

.syntax .c { color: #919191 } /* Comment */
.syntax .cm { color: #919191 } /* Comment.Multiline */
.syntax .cp { color: #919191 } /* Comment.Preproc */
.syntax .cs { color: #919191 } /* Comment.Special */
.syntax .c1 { color: #919191 } /* Comment.Single */

.syntax .err { color: #a61717; background-color: #e3d2d2 } /* Error */

.syntax .g { color: #101010 } /* Generic */
.syntax .gd { color: #d22323 } /* Generic.Deleted */
.syntax .ge { color: #101010; font-style: italic } /* Generic.Emph */
.syntax .gh { color: #101010 } /* Generic.Heading */
.syntax .gi { color: #589819 } /* Generic.Inserted */
.syntax .go { color: #6a6a6a } /* Generic.Output */
.syntax .gp { color: #bb8844 } /* Generic.Prompt */
.syntax .gr { color: #d22323 } /* Generic.Error */
.syntax .gs { color: #101010 } /* Generic.Strong */
.syntax .gt { color: #d22323 } /* Generic.Traceback */
.syntax .gu { color: #101010 } /* Generic.Subheading */

.syntax .k { color: #c32528 } /* Keyword */ /* espian red */
.syntax .k { color: #ff5600 } /* Keyword */ /* orangy */
.syntax .kc { color: #ff5600 } /* Keyword.Constant */
.syntax .kd { color: #ff5600 } /* Keyword.Declaration */
.syntax .kd { color: #ff5600 } /* Keyword.Declaration */
.syntax .kn { color: #ff5600 } /* Keyword */
.syntax .kp { color: #ff5600 } /* Keyword.Pseudo */
.syntax .kr { color: #ff5600 } /* Keyword.Reserved */
.syntax .kt { color: #ff5600 } /* Keyword.Type */

.syntax .l { color: #101010 } /* Literal */
.syntax .ld { color: #101010 } /* Literal.Date */

.syntax .m { color: #3677a9 } /* Literal.Number */ /* darkish pastely blue */
.syntax .m { color: #00a33f } /* Literal.Number */ /* brightish green */
.syntax .m { color: #1550a2 } /* Literal.Number */ /* darker blue */
.syntax .m { color: #5d90cd } /* Literal.Number */ /* pastely blue */
.syntax .mf { color: #5d90cd } /* Literal.Number.Float */
.syntax .mh { color: #5d90cd } /* Literal.Number.Hex */
.syntax .mi { color: #5d90cd } /* Literal.Number.Integer */
.syntax .il { color: #5d90cd } /* Literal.Number.Integer.Long */
.syntax .mo { color: #5d90cd } /* Literal.Number.Oct */

.syntax .bp { color: #a535ae } /* Name.Builtin.Pseudo */
.syntax .n { color: #101010 } /* Name */
.syntax .na { color: #bbbbbb } /* Name.Attribute */
.syntax .nb { color: #bf78cc } /* Name.Builtin */ /* pastely purple */
.syntax .nb { color: #af956f } /* Name.Builtin */ /* pastely light brown */
.syntax .nb { color: #a535ae } /* Name.Builtin */ /* brightish pastely purple */
.syntax .nc { color: #101010 } /* Name.Class */
.syntax .nd { color: #6d8091 } /* Name.Decorator */
.syntax .ne { color: #af956f } /* Name.Exception */
.syntax .nf { color: #3677a9 } /* Name.Function */
.syntax .nf { color: #1550a2 } /* Name.Function */
.syntax .ni { color: #101010 } /* Name.Entity */
.syntax .nl { color: #101010 } /* Name.Label */
.syntax .nn { color: #101010 } /* Name.Namespace */
.syntax .nn { color: #101010 } /* Name.Namespace */
.syntax .no { color: #101010 } /* Name.Constant */
.syntax .nx { color: #101010 } /* Name.Other */
.syntax .nt { color: #6d8091 } /* Name.Tag */
.syntax .nv { color: #101010 } /* Name.Variable */
.syntax .vc { color: #101010 } /* Name.Variable.Class */
.syntax .vg { color: #101010 } /* Name.Variable.Global */
.syntax .vi { color: #101010 } /* Name.Variable.Instance */
.syntax .py { color: #101010 } /* Name.Property */

.syntax .o { color: #ff5600 } /* Operator */ /* orangy */
.syntax .o { color: #101010 } /* Operator */
.syntax .ow { color: #101010 } /* Operator.Word */

.syntax .p { color: #101010 } /* Punctuation */

.syntax .s { color: #dd1144 } /* Literal.String */ /* darkish red */
.syntax .s { color: #c32528 } /* Literal.String */ /* espian red */
.syntax .s { color: #39946a } /* Literal.String */ /* pastely greeny */
.syntax .s { color: #5d90cd } /* Literal.String */ /* pastely blue */
.syntax .s { color: #00a33f } /* Literal.String */ /* brightish green */
.syntax .sb { color: #00a33f } /* Literal.String.Backtick */
.syntax .sc { color: #00a33f } /* Literal.String.Char */
.syntax .sd { color: #767676 } /* Literal.String.Doc */
.syntax .se { color: #00a33f } /* Literal.String.Escape */
.syntax .sh { color: #00a33f } /* Literal.String.Heredoc */
.syntax .si { color: #00a33f } /* Literal.String.Interpol */
.syntax .sr { color: #00a33f } /* Literal.String.Regex */
.syntax .ss { color: #00a33f } /* Literal.String.Symbol */
.syntax .sx { color: #00a33f } /* Literal.String.Other */
.syntax .s1 { color: #00a33f } /* Literal.String.Single */
.syntax .s2 { color: #00a33f } /* Literal.String.Double */

.syntax .w { color: #101010 } /* Text.Whitespace */
.syntax .x { color: #101010 } /* Other */

.syntax.bash .nb { color: #101010 }
.syntax.bash .nv { color: #c32528 }

.syntax.css .k { color: #606060 }
.syntax.css .nc { color: #c32528 }
.syntax.css .nf { color: #c32528 }
.syntax.css .nt { color: #c32528 }

.syntax.rst .k { color: #5d90cd }
.syntax.rst .ow { color: #5d90cd }
.syntax.rst .p { color: #5d90cd }

.syntax.yaml .l-Scalar-Plain { color: #5d90cd }
.syntax.yaml .p-Indicator { color: #101010 }

.footer-info {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	padding: 10px 0;
}

.footer-info-block {
	padding: 13px 10px 10px 37px;
}

.footer-info-block div {
	margin-bottom: 10px;
}

table.borderless-table, .borderless-table tr, .borderless-table td {
	border: 0px !important;
}

.share {
	text-align: right;
	margin-top: 40px;
	font-size: 14px;
	float: right;
}

a.fb-share, a.fb-share:active, a.fb-share:hover, a.fb-share:visited {
	background: url("../gfx/share.facebook.png") no-repeat;
	display: block;
	float: right;
	height: 22px;
	outline; none;
	overflow: hidden;
	margin: 0 20px 0 14px;
	margin: 10px 0px 0 14px;
	position: relative;
	text-indent: 9999px !important;
	top: -2px;
	vertical-align: middle;
	width: 146px;
	color: transparent;
}

a.fb-share:hover {
	background: url("../gfx/share.facebook.png") no-repeat 0 -22px;
}

a.fb-share:active {
	background: url("../gfx/share.facebook.png") no-repeat 0 -44px;
}

a.twitter-share, a.twitter-share:active, a.twitter-share:hover, a.twitter-share:visited {
	background: url("../gfx/share.twitter.png") no-repeat;
	display: block;
	float: right;
	height: 20px;
	margin: 0 0 0 14px;
	margin: 10px 0 0 14px;
	outline: none;
	overflow: hidden;
	position: relative;
	text-indent: 9999px !important;
	vertical-align: middle;
	width: 55px;
	color: transparent;
}

a.twitter-share:hover {
	background: url("../gfx/share.twitter.png") no-repeat 0 -21px;
}

a.twitter-share:active {
	background: url("../gfx/share.twitter.png") no-repeat 0 -42px;
}

/* twitter widget version */

.twitter-share-button {
	float: right;
	vertical-align: middle;
	display: inline;
	padding-bottom: 4px;
}

.twitter-share-button iframe {
	vertical-align: middle;
}

.metrics {
	float: left;
	text-align: left;
	font-size: 14px;
	margin-top: 33px;
	margin-left: -5px;
}

.metrics a {
	color: #000;
	text-decoration: none;
}

.metrics a:hover {
	color: #333;
	text-decoration: underline;
}

.metrics span {
	font-size: 14px;
}

#share-box {
	width: 48px;
	position: fixed;
	top: 240px;
	background: #fff;
	padding: 6px 3px 0px 2px;
	text-align: center;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	display: none;
}

#share-box div {
	margin-bottom: 10px;
	overflow: hidden;
}

#share-box a:hover {
	opacity: 0.8;
}

#share-box strong {
	font-size: 20px;
}
